[Unit]
Description=Sentry Background Worker
After=network.target

[Service]
Type=simple
User=sentry
Group=sentry
WorkingDirectory={{sentry_home}}
Environment=SENTRY_CONF={{sentry_home}}/conf
ExecStart=/www/sentry/bin/sentry run worker

[Install]
WantedBy=multi-user.target
