# https://docs.sentry.io/server/queue/
[program:sentry-web]
directory={{sentry_home}}
environment=SENTRY_CONF="{{sentry_home}}/conf"
command={{sentry_home}}/scripts/web.sh
autostart=true
autorestart=true
redirect_stderr=true
user=sentry
stdout_logfile=syslog
stderr_logfile=syslog

[program:sentry-worker]
directory={{sentry_home}}
environment=SENTRY_CONF="{{sentry_home}}/conf"
command={{sentry_home}}/scripts/worker.sh
autostart=true
autorestart=true
redirect_stderr=true
user=sentry
stdout_logfile=syslog
stderr_logfile=syslog

[program:sentry-cron]
directory={{sentry_home}}
environment=SENTRY_CONF="{{sentry_home}}/conf"
command={{sentry_home}}/scripts/cron.sh
autostart=true
autorestart=true
redirect_stderr=true
stdout_logfile=syslog
stderr_logfile=syslog
